body {
}

#navvy {
    margin-bottom:0px
}

.jumbotron.bigPicUnderNavBar {
    background-image: url('Content/tuscany-villas-sant-anna.jpg');
    background-size:cover;
    margin: 0px 0px 0px 0px;
}

.leftImg {
    text-align: center;
}

.rightImg {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}