body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#navvy {
    margin-bottom:0px
}

div.jumbotron.bigPicUnderNavBar {
    background-image: url('Content/tuscany-villas-sant-anna.jpg');
    background-size:cover;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height:348px;
}

.leftImgText {
    text-align: center;
}

.rightImg {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height:100%;
    text-align:right;
}

.paddingless {
    padding: 0px;
}

.marginless {
    margin: 0px;
}

.locationsImg {
    width:100%;
}

.amenitiesImg {
    width:100%;
}

.amenitiesTxt{
    text-align:center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
}

#myCarousel {
    margin-bottom: 25px
}

li.indicator{
    background-color:darkgray;
}

li.indicator.active {
    background-color:darkgray;
}

.carousel-indicators {
  bottom:-8px;
}


.centerAlign {
    text-align:center;
}

.form-control {
    margin:auto;
}

.submitButton {
    text-align:right;
    margin-right:40px;
}

footer {
    text-align:center;
}


