body {
}

#navvy {
    margin-bottom:0px;
    padding-bottom:0px;
    background-color: #474E5D;
}

.navbar-default {
    border: 0px;
}

.brand {
    color:#FFFFFF;
    font-family: 'Roboto', sans-serif;
    padding: 2px 5px 5px 5px;
    margin-top: 10px;
}

.navbar .nav > li > a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color:#FFFFFF;
}

.navList {
    
}

div.jumbotron.bigPicUnderNavBar {
    background-image: url('Content/tuscany-villas-sant-anna.jpg');
    background-size:cover;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height:348px;
}

.leftImgText {
    text-align: center;
}

.rightImg {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height:100%;
    text-align:right;
}

.paddingless {
    padding: 0px;
}

.marginless {
    margin: 0px;
}

.locationsImg {
    width:100%;
}

.greyedOut {
    background-color: #474E5D;
    color: #FFFFFF;
}

.amenitiesImg {
    width:100%;
}

.amenitiesTxt{
    text-align:center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    color: #FFFFFF;
    background-color: #474E5D;
    font-family: 'Oxygen', sans-serif;
    opacity:.7;
    padding: 4px;
    margin:4px;
}

#myCarousel {
    margin-bottom: 0px;
}

li.indicator{
    background-color:darkgray;
}

li.indicator.active {
    background-color:darkgray;
}

.carousel-indicators {
  bottom:-8px;
}

.centerAlign {
    text-align:center;
}

.form-control {
    margin:auto;
}

.submitButton {
    text-align:right;
    margin-right:40px;
}

footer {
    text-align:center;
    background-color: #474E5D;
}

.featuresJumbotron {
    background-color: #474E5D;
    text-align:center;
    margin:0px;
    padding: 0px;
    font-family: 'Oxygen', sans-serif;
    color: #FFFFFF;
}

.amenitiesSection {
    margin-top:50px;
    margin-bottom:50px;
}

.contactContent {
    margin-top: 20px;
}


